flows.json
[
    {
        "id": "f0126d11ce3815ad",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17f6c5794152c7c2",
        "type": "ui_button",
        "z": "f0126d11ce3815ad",
        "name": "",
        "group": "84853ea50419fcab",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "6f8db8b678cc5bea"
            ]
        ]
    },
    {
        "id": "50b6514dc8f137f9",
        "type": "ui_button",
        "z": "f0126d11ce3815ad",
        "name": "",
        "group": "84853ea50419fcab",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "6f8db8b678cc5bea"
            ]
        ]
    },
    {
        "id": "d54148fe77026be9",
        "type": "debug",
        "z": "f0126d11ce3815ad",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "6f8db8b678cc5bea",
        "type": "switch",
        "z": "f0126d11ce3815ad",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "d54148fe77026be9",
                "e85f397735214e56",
                "d7af37fcba8a682b"
            ],
            [
                "d54148fe77026be9",
                "e85f397735214e56"
            ]
        ]
    },
    {
        "id": "e85f397735214e56",
        "type": "mqtt out",
        "z": "f0126d11ce3815ad",
        "name": "",
        "topic": "home/light/living/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e78d09665845fe95",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "a946614bad3da3e6",
        "type": "ui_text",
        "z": "f0126d11ce3815ad",
        "group": "84853ea50419fcab",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 370,
        "y": 340,
        "wires": []
    },
    {
        "id": "d7af37fcba8a682b",
        "type": "trigger",
        "z": "f0126d11ce3815ad",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "val",
        "op2type": "val",
        "duration": "250",
        "extend": "false",
        "overrideDelay": "false",
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 820,
        "y": 80,
        "wires": [
            [
                "a946614bad3da3e6"
            ]
        ]
    },
    {
        "id": "84853ea50419fcab",
        "type": "ui_group",
        "name": "Living",
        "tab": "44a27b8e455e76d6",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e78d09665845fe95",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "44a27b8e455e76d6",
        "type": "ui_tab",
        "name": "Light",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c3587e4e41d5f7e5",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]